build
coverage
.turbo
.cache
public/build
root.css
tsconfig.json
*.js
*.json
*.html
*.config.js
*.md
*.zip
*.prisma
.env
.editorconfig
.gitignore
.yarnrc.yml
LICENSE.md
yarn.lock
Dockerfile
docker-compose.yml
